body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: white;
}

.App-header ul {
  height: 50px;
  padding: 5px 0 0 8px;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.App-header li:first-child {
  padding-right: 50px;
}

.App-header li {
  list-style-type: none;
  padding-right: 20px;
  display: table;
  height: 40px;
}

.App-header li a {
  text-decoration: none;
  color: black;
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
}

.Vinyl-logo {
  width: 40px;
  height: 40px;
}

.App-link {
  color: #61dafb;
}

.Cover {
  position: relative;
  display: inline-block;
}

.Cover-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, .4);
  transition: opacity .3s;
  color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.Cover-hover a {
  text-decoration: none;
  color: white;
}

.Cover-hover:hover {
  opacity: 1;
}

.Cover-image-wrapper {
  display: inline-block;
  height: 150px;
  width: 150px;
}

.Cover-image {
  width: 150px;
  height: 150px;
}

.Search-wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.Search-wrapper input {
  width: 500px;
  height: 40px;
  border-radius: 5px;
  font-size: 32px;
  line-height: 40px;
}

.Search-wrapper button {
  height: 45px;
}

.Browser {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Added {
  text-decoration: line-through;
}